<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Document File</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        .chat-container { width: 400px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; }
        .messages { height: 300px; overflow-y: scroll; margin-bottom: 10px; border: 1px solid #ddd; padding: 10px; }
        .message { padding: 5px; }
        input[type="text"] { width: 90%; padding: 5px; }
        button { padding: 5px 10px; }
        label[for="fileInput"] {border: 1px solid #000; padding: 5px 10px;}
    </style>
</head>
<body>
    <h1>Upload A Document</h1>
    <div class="chat-container">
        <div class="messages" id="messages"></div>
        <form id="messageForm">
            <input type="text" id="messageInput" placeholder="Type a message..." autocomplete="off">
            <input type="file" id="fileInput" style="display: none;">
            <label for="fileInput">Select File</label>
            <select name="model" id="model">
                <option value="t5-small">T5-Small</option>
                <option value="t5-base">T5-Base</option>
                <option value="t5-large">T5-Large</option>
            </select>
            <button onclick="sendMessage()">Send</button>
            <button onclick="reset()">Reset</button>
        </form>
        <div id="uploadMessage"></div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io();
        var uploadMessage = document.getElementById("uploadMessage")
        var messageInput = document.getElementById("messageInput")
        var messages = document.getElementById("messages")

        // Listen for incoming messages and display them
        // socket.on('message', function(msg) {
        //     var messageElement = document.createElement('div');
        //     messageElement.classList.add('message');
        //     messageElement.textContent = msg;
        //     messages.appendChild(messageElement);
        //     messages.scrollTop = messages.scrollHeight;
        // });

        function sendMessage() {
            let message = messageInput.value;
            if (message.trim() === '') return
            
            // socket.send(message)

            fetch("/chat", { 
                method: 'POST',
                body: new URLSearchParams({"message": message }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(response => response.json())
            .then(data => {
                messages.innerHTML += "<p><strong>You:</strong> " + message + "</p>";
                messages.innerHTML += "<p><strong>Bot:</strong> " + data.response + "</p>";
                document.getElementById("userMessage").value = "";
            })
        }

        document.getElementById('fileInput').addEventListener("change", (e) => {
            uploadMessage.textContent = ""
            const file = e.target.files[0]
            if (!file) return;

            let formData = new FormData();
            formData.append("file", file);

            fetch("/upload", { method: "POST", body: formData})
            .then(response => {
                console.log(response.status)
                return response.json()})
            .then(data => {
                uploadMessage.textContent = data.response
                document.getElementById("fileInput").value = ""
            })
        })

        function reset() {
            uploadMessage.textContent = ""
            fetch("/reset", {method: 'DELETE'})
            .then(response => response.json())
            .then(data => {
                uploadMessage.textContent = data.response
            })
        }
    </script>
</body>
</html>